@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model WebApplication1.Models.ViewModel.HybridViewModel


<div class="container my-5 " style="margin-bottom: 60px; height: 90vh;">
    <h2 class="mb-4"> Your Listing</h2>

    <table class="table table-striped table-hover">


        <thead>
            <tr>
                <th>Product Title</th>
                <th>Description</th>
                <th>Category</th>
                <th>SubCategory</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Hash tags</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>

            @foreach (var product in Model.Products)
            {
                <tr>
                    <td>@product.ProductTitle</td>
                    <td>@product.Description</td>
                    <td>@product.Category</td>
                    <td>@product.SubCategory</td>
                    <td>@product.Price $</td>
                    <td>@product.Qty</td>
                    <td>@product.HashTags</td>


                    <td>

                        <a class="btn btn-primary btn-sm" style="padding: 5px 20px;" href="/seller/edit/@product.ProductId"> Edit</a>

                        
                        <a asp-controller="Seller" asp-action="ArchiveProduct" asp-route-id="@product.ProductId"
                            class="btn btn-danger btn-sm" style="padding: 5px 20px;">
                            Archive
                        </a>


                    </td>

                </tr>
            }



        </tbody>



    </table>






</div>